[Unit]
Description=Daily server update timer
Requires=update-server.service

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=30min

[Install]
WantedBy=timers.target
